body{
    background-color:#5173b1;
}
h1{
    font-size: 84px;
    font-family:"Gill-Sans", sans-serif;
}
#page{
    width: 1320px;
    height: 1080px;
    background-color: #75a0c5;
    margin: 0 auto;
}
#top{
    width: 1320px;
    height: 290px;
    background-color: #dbe2ef;
}
#virsraksts{
    text-align: center;
    vertical-align: middle;
    line-height: 290px;  
}
#pogas{
    
}